Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, selene, stylua, lua-types

lefthook.yml:

skip_output:
  - meta
pre-push:
  files: "rg --files"
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    stylua:
      glob: "*.lua"
      run: stylua --check {files}
    typos:
      run: typos {files}
    lua-types:
      glob: "*.lua"
      run: llscheck lua/ || echo {files}
    lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    rspec:
      only:
      - ref: master
      run: bin/specs {files}
pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {staged_files}
    selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {staged_files}
    stylua:
      glob: "*.lua"
      run: stylua --check {staged_files}
    typos:
      run: typos {staged_files}
    lua-types:
      glob: "*.lua"
      run: llscheck lua/

Hook for `PreMerge`
  README.md
  lua/neogit/config.lua
  lua/neogit/lib/git/merge.lua
Due: selene, stylua, lua-types

Hook for `PreBranchDelete`
  README.md
  lua/neogit/config.lua
  lua/neogit/popups/branch/actions.lua
Due: selene, stylua, lua-types

Hook for `PreReset`
  README.md
  lua/neogit/config.lua
  lua/neogit/popups/branch/actions.lua
  lua/neogit/popups/reset/actions.lua
Due: selene, stylua, lua-types

Hook for `PreBisect`
  README.md
  lua/neogit/config.lua
  lua/neogit/lib/git/bisect.lua
Due: selene, stylua, lua-types

Hook for `PreWorktreeCreate`
  README.md
  lua/neogit/config.lua
  lua/neogit/lib/git/worktree.lua
Due: selene, stylua, lua-types

Hook for `PreTagCreate`
  README.md
  lua/neogit/config.lua
  lua/neogit/popups/tag/actions.lua
Due: selene, stylua, lua-types

Hook for `PreRefsRefreshed`
  README.md
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/config.lua
Due: selene, stylua, lua-types

Hook for `PreCherryPick`
  README.md
  lua/neogit/config.lua
  lua/neogit/lib/git/cherry_pick.lua
Due: selene, stylua, lua-types

POC for hooks, starting with PreBranchCheckout
  README.md
  lua/neogit/config.lua
  lua/neogit/lib/hook.lua
  lua/neogit/popups/branch/actions.lua
Due: selene, stylua, lua-types

Hook for `PreTagDelete`
  README.md
  lua/neogit/config.lua
  lua/neogit/popups/tag/actions.lua
Due: selene, stylua, lua-types

Hook for `PreBranchCreate`
  README.md
  lua/neogit/config.lua
  lua/neogit/popups/branch/actions.lua
Due: selene, stylua, lua-types

Hook for `PreStash`
  README.md
  lua/neogit/config.lua
  lua/neogit/lib/git/stash.lua
Due: selene, stylua, lua-types

Refine inline diffing to be word-level, not character level, to produce nicer looking diffs.
  lua/neogit/lib/diff_highlights.lua
Due: selene, stylua, lua-types

Add cherry pick spinoff/spinout
  doc/neogit.txt
  lua/neogit/popups/cherry_pick/actions.lua
  lua/neogit/popups/cherry_pick/init.lua
  spec/popups/cherry_pick_popup_spec.rb
Due: rubocop, selene, stylua, lua-types

Add remote unshallow action
  doc/neogit.txt
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/config.lua
  lua/neogit/popups/remote/actions.lua
  lua/neogit/popups/remote/init.lua
Due: selene, stylua, lua-types

Improve test coverage
  spec/popups/bisect_popup_spec.rb
  spec/popups/ignore_popup_spec.rb
  spec/popups/merge_popup_spec.rb
  spec/popups/pull_popup_spec.rb
  spec/popups/rebase_popup_spec.rb
  spec/popups/remote_popup_spec.rb
  spec/popups/reset_popup_spec.rb
  spec/popups/revert_popup_spec.rb
  spec/popups/stash_popup_spec.rb
  spec/popups/tag_popup_spec.rb
Due: rubocop

Further refine diff highlighting - if two spans are separated by only an underscore, merge them.
  lua/neogit/lib/diff_highlights.lua
Due: selene, stylua, lua-types

Properly link CursorLine hl group, and don't set it in sidebar
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

Add "reverse" action to status buffer. Bound to `-` by default.
  doc/neogit.txt
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/config.lua
  spec/buffers/status_buffer_spec.rb
Due: rubocop, selene, stylua, lua-types

Use vim.ui.input instead of vim.fn.input
  lua/neogit/lib/input.lua
Due: selene, stylua, lua-types

Add specs for status buffer actions
  lua/neogit/buffers/status/actions.lua
  spec/buffers/status_buffer_spec.rb
Due: rubocop, selene, stylua, lua-types

Add "reverse" action to commit view
  doc/neogit.txt
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/common.lua
  spec/buffers/commit_buffer_spec.rb
Due: rubocop, selene, stylua, lua-types

Dispatch a refresh event when closing the editor
  lua/neogit/buffers/editor/init.lua
  lua/neogit/buffers/status/init.lua
Due: selene, stylua, lua-types

replace abandoned sindrets/diffview.nvim with maintained fork
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
  README.md
  doc/neogit.txt
  spec/support/dependencies.rb
Due: rubocop

use `diffview.nvim` public API instead of internal modules
  .github/workflows/test.yml
  README.md
  doc/neogit.txt
  lua/neogit/integrations/diffview.lua
  spec/support/dependencies.rb
Due: rubocop, selene, stylua, lua-types

Revert hunk shows warning if patch doesn't apply
  lua/neogit/lib/git/revert.lua
  lua/neogit/popups/revert/actions.lua
Due: selene, stylua, lua-types

Add tag -> create release Action
  doc/neogit.txt
  lua/neogit/lib/git/tag.lua
  lua/neogit/popups/tag/actions.lua
  lua/neogit/popups/tag/init.lua
  spec/popups/tag_popup_spec.rb
Due: rubocop, selene, stylua, lua-types

Lint
  lua/neogit/lib/git/tag.lua
  lua/neogit/spinner.lua
  spec/popups/bisect_popup_spec.rb
  spec/popups/ignore_popup_spec.rb
  spec/popups/merge_popup_spec.rb
  spec/popups/pull_popup_spec.rb
  spec/popups/rebase_popup_spec.rb
  spec/popups/reset_popup_spec.rb
  spec/popups/revert_popup_spec.rb
  spec/popups/tag_popup_spec.rb
Due: rubocop, selene, stylua, lua-types

Rename arg to _ since it's unused
  lua/neogit/popups/remote/actions.lua
Due: selene, stylua, lua-types

Add blocking variant to user input to handle SSH/HTTP credentials during git action.
  lua/neogit/lib/input.lua
  lua/neogit/runner.lua
Due: selene, stylua, lua-types

Prevent multiple spinners from conflicting
  lua/neogit/spinner.lua
Due: selene, stylua, lua-types

fix: show console when git hooks fail
  lua/neogit/buffers/process/init.lua
  lua/neogit/process.lua
Due: selene, stylua, lua-types

Fix failing spec
  tests/specs/neogit/diff_highlights_spec.lua
Due: stylua, lua-types

Fix: handing username/password during git operations should work again.
  lua/neogit/lib/input.lua
Due: selene, stylua, lua-types

Set default red color based on ErrorMsg
  lua/neogit/lib/hl.lua
Due: selene, stylua, lua-types

Fix crash in NeogitConsole trying to connect to terminal that is already connected.
  lua/neogit/buffers/process/init.lua
Due: selene, stylua, lua-types

Fix: When renaming a stash, don't lose it on accident.
  lua/neogit/lib/git/stash.lua
  spec/popups/stash_popup_spec.rb
Due: rubocop, selene, stylua, lua-types
