Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, selene, stylua, lua-types

lefthook.yml:

skip_output:
  - meta
pre-push:
  files: "rg --files"
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    stylua:
      glob: "*.lua"
      run: stylua --check {files}
    typos:
      run: typos {files}
    lua-types:
      glob: "*.lua"
      run: llscheck lua/ || echo {files}
    lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    rspec:
      only:
      - ref: master
      run: bin/specs {files}
pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {staged_files}
    selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {staged_files}
    stylua:
      glob: "*.lua"
      run: stylua --check {staged_files}
    typos:
      run: typos {staged_files}
    lua-types:
      glob: "*.lua"
      run: llscheck lua/

Fix: autosquash command (`r f`) bug is fixed.
  lua/neogit/popups/rebase/actions.lua
Due: selene, stylua, lua-types

lint
  lua/neogit/lib/git/rev_parse.lua
Due: selene, stylua, lua-types

fix(ui): prevent context lines starting with minus from highlighting as deleted
  lua/neogit/buffers/common.lua
  tests/specs/neogit/hunk_spec.lua
Due: selene, stylua, lua-types

treesitter diff highlights
  lua/neogit/buffers/common.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/diff_highlights.lua
  lua/neogit/lib/hl.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/lib/ui/renderer.lua
  tests/specs/neogit/diff_highlights_spec.lua
Due: selene, stylua, lua-types

Disable default force push prompting
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
Due: selene, stylua, lua-types

fix : ambiguous description for branch options (2 options with 'new branch')
  spec/popups/branch_popup_spec.rb
Due: rubocop

Rename "ts_hl" and "ts_highlight" to "filepath" and "diff_highlight"
  lua/neogit/buffers/common.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/renderer.lua
Due: selene, stylua, lua-types

Improve inline diff highlights
  doc/neogit.txt
  lua/neogit/lib/hl.lua
Due: selene, stylua, lua-types

Respect when hunk highlighting is disabled
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

Move config check to diff_highlights module - separate TS highlighting from inline highlighting
  lua/neogit/lib/diff_highlights.lua
  lua/neogit/lib/ui/init.lua
Due: selene, stylua, lua-types

Add config options for diff highlighting
  lua/neogit/config.lua
Due: selene, stylua, lua-types

Formatting
  lua/neogit/lib/diff_highlights.lua
Due: selene, stylua, lua-types

When two spans are 1 character separated, join them to produce a cleaner looking highlight.
  lua/neogit/lib/diff_highlights.lua
Due: selene, stylua, lua-types

Rewrite without goto statement so selene doesn't lose it's shit.
  lua/neogit/lib/diff_highlights.lua
  lua/neogit/lib/ui/init.lua
Due: selene, stylua, lua-types

Update readme - New config values for treesitter_diff_highlight and word_diff_highlight
  README.md
Due: none

fix(treesitter): properly fetch language from filetype
  lua/neogit/lib/diff_highlights.lua
Due: selene, stylua, lua-types

refactor: use `vim.system()` instead of *plenary* to run `config.values.log_pager`
  lua/neogit/buffers/common.lua
Due: selene, stylua, lua-types

feat: support viewing the diff via other pagers, e.g. *Delta*
  README.md
  doc/neogit.txt
  lua/neogit/buffers/common.lua
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/git/diff.lua
Due: selene, stylua, lua-types

docs: add *Delta* example for `log_pager`
  README.md
Due: none

refactor: ANSI colorize continuous chunks at once
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

docs: for *Delta*, hyperlinks must be disabled in its *Git* config section
  README.md
Due: none

refactor: run the pager in `neogit.lib.git.diff` `build_pager_contents()`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/git/diff.lua
Due: selene, stylua, lua-types

refactor: move `Buffer:set_line_highlights()` ANSI highlights to `Buffer:set_ansi_highlights()`, to avoid finding hunk line numbers manually with the hard-coded `NeogitDiffContext`
  lua/neogit/buffers/common.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/component.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/lib/ui/renderer.lua
Due: selene, stylua, lua-types

fix: match from the start of the line when building hunks, or `.diff` files will be shown incorrectly
  lua/neogit/lib/git/diff.lua
Due: selene, stylua, lua-types

feat: handle "Erase in Line"
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

docs: switch from `*` to ` `` `, as help documents treat that as a tag
  README.md
  doc/neogit.txt
Due: none

docs: only need to disable hyperlinks in *delta* when called by *neogit*
  README.md
  doc/neogit.txt
Due: none

test: add `pager_contents` to `subject.parse()` specs
  tests/specs/neogit/lib/git/log_spec.lua
Due: stylua, lua-types

feat: disable context highlighting when the log pager is active, otherwise when the cursor is in the hunk, we lose background highlighting
  README.md
  doc/neogit.txt
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/diff/init.lua
  lua/neogit/buffers/status/init.lua
Due: selene, stylua, lua-types
