Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, selene, stylua, lua-types

rubocop:
  run: bundle exec rubocop {staged_files}

selene:
  run: selene --config selene/config.toml {staged_files}

stylua:
  run: stylua --check {staged_files}

lua-types:
  run: llscheck lua/

feat: Codeberg API
  README.md
  lua/neogit/config.lua
Due: selene, stylua, lua-types

doc: add Codeberg to doc/neogit.txt
  doc/neogit.txt
Due: none

fix: correct Codeberg endpoints
  README.md
  lua/neogit/config.lua
Due: selene, stylua, lua-types

feat: expose NeogitSignColumn highlight group
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/hl.lua
Due: selene, stylua, lua-types

feat: expose highlight groups NeogitNormalFloat and NeogitFloatBorder
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/hl.lua
Due: selene, stylua, lua-types

docs: describe new highlight groups
  doc/neogit.txt
Due: none

feat: expose highlight group NeogitSignColum
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/hl.lua
Due: selene, stylua, lua-types

refactor: Pass `disable_{relative_,}line_numbers` to commit editor buffer init
  lua/neogit/buffers/editor/init.lua
Due: selene, stylua, lua-types

feat(margin): add shortstat toggle
  lua/neogit/buffers/status/ui.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/util.lua
  lua/neogit/popups/margin/actions.lua
  lua/neogit/popups/margin/init.lua
Due: selene, stylua, lua-types

change append boolean to opts table in str util functions
  lua/neogit/buffers/status/ui.lua
  lua/neogit/lib/util.lua
Due: selene, stylua, lua-types

refactor(margin): move shortstat fetcthing out of ui layer
  lua/neogit/buffers/status/ui.lua
  lua/neogit/lib/git/log.lua
Due: selene, stylua, lua-types

clear up margin comment
  lua/neogit/buffers/status/ui.lua
Due: selene, stylua, lua-types

Add interaction specs
  spec/popups/margin_popup_spec.rb
Due: rubocop

doc: fix incorrect usages of "it's"
  doc/neogit.txt
Due: none

fix: https://github.com/NeogitOrg/neogit/issues/1850
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

Add git_executable configuration parameter to setup() (#1)
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/lib/git/cli.lua
  tests/specs/neogit/git_executable_spec.lua
Due: selene, stylua, lua-types

fix styling issues
  tests/specs/neogit/git_executable_spec.lua
Due: stylua, lua-types

fix: https://github.com/NeogitOrg/neogit/issues/1853
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

speed up staging in big repos
  lua/neogit/lib/git/repository.lua
  lua/neogit/lib/git/status.lua
Due: selene, stylua, lua-types

fix typo
  lua/neogit/buffers/status/actions.lua
Due: selene, stylua, lua-types

add option for fast staging
  lua/neogit/config.lua
  lua/neogit/lib/git/status.lua
Due: selene, stylua, lua-types

refresh status immediately on file-write
  lua/neogit/buffers/status/init.lua
Due: selene, stylua, lua-types

add fast commit
  lua/neogit/config.lua
  lua/neogit/popups/commit/actions.lua
Due: selene, stylua, lua-types

Fix typo: diffs should be properly invalidated when using visual-line mode discard.
  lua/neogit/buffers/status/actions.lua
Due: selene, stylua, lua-types

register autocmd regardless of config at time of require
  lua/neogit/buffers/status/init.lua
Due: selene, stylua, lua-types

Support configuring popup kind
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/lib/popup/init.lua
Due: selene, stylua, lua-types

Improve readme showing how to invoke the UI
  README.md
Due: none

use fast impl of anything_staged/anything_unstaged
  lua/neogit/lib/git/status.lua
  lua/neogit/popups/commit/actions.lua
Due: selene, stylua, lua-types

revert special fast commit prompt
  lua/neogit/popups/commit/actions.lua
Due: selene, stylua, lua-types

Path conditions:
  rubocop: any of: *.rb
  selene: any of: {lua,plugin}/**/*.lua
  stylua: any of: *.lua
  lua-types: any of: *.lua
