Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, selene, stylua, lua-types

rubocop:
  run: bundle exec rubocop {staged_files}

selene:
  run: selene --config selene/config.toml {staged_files}

stylua:
  run: stylua --check {staged_files}

lua-types:
  run: llscheck lua/

Normalize path separators during Path:make_relative
  lua/neogit/lib/path.lua
Due: selene, stylua, lua-types

Coalesce calls to dispatch_refresh into one scheduled refresh
  lua/neogit/buffers/status/init.lua
Due: selene, stylua, lua-types

Try to better determine if an exit code > 1 was a git hook failure or a merge failure, and don't show output console on a merge failure.
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/status.lua
  lua/neogit/process.lua
Due: selene, stylua, lua-types

Fix: https://github.com/NeogitOrg/neogit/issues/1967
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

CommitView: '}' mapping goes to first hunk
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/lib/ui/init.lua
Due: selene, stylua, lua-types

fix(sessions): prevent error on session cleanup
  lua/neogit/autocmds.lua
Due: selene, stylua, lua-types

fix(status): avoid loading status mappings at the top-level
  lua/neogit/buffers/commit_select_view/init.lua
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/git_command_history.lua
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/buffers/reflog_view/init.lua
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/buffers/stash_list_view/init.lua
Due: selene, stylua, lua-types

fix: async input in rebase editor
  lua/neogit/buffers/rebase_editor/init.lua
Due: selene, stylua, lua-types

fix: async init_repo to fix input
  lua/neogit/buffers/status/actions.lua
Due: selene, stylua, lua-types

ci(lint): install stylua before running `make lint`
  .github/workflows/lint.yml
Due: none

doc: add config options from README to `doc/neogit.txt`
  doc/neogit.txt
Due: none

fix(finder): handle abort in fzf-lua integration
  lua/neogit/lib/finder.lua
Due: selene, stylua, lua-types

fix(branch): include branches checked out in other worktrees
  lua/neogit/lib/git/branch.lua
  tests/specs/neogit/lib/git/branch_spec.lua
Due: selene, stylua, lua-types

fix(buffer): clear namespaces while unfocused
  lua/neogit/lib/buffer.lua
  tests/specs/neogit/lib/buffer_spec.lua
Due: selene, stylua, lua-types

fix(buffer): scope active item decorations to owner
  lua/neogit/lib/buffer.lua
  tests/specs/neogit/lib/buffer_spec.lua
Due: selene, stylua, lua-types

fix: check exact match result
  lua/neogit/lib/git/index.lua
Due: selene, stylua, lua-types

fix: stage hunk with existing index file endings
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/index.lua
Due: selene, stylua, lua-types

Remove buffer:resize() (unused)
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/init.lua
Due: selene, stylua, lua-types

Run refresh on fetch-complete and merge events
  lua/neogit/buffers/status/init.lua
Due: selene, stylua, lua-types

Clear "VirtualText" namespace as part of ui update cycle
  lua/neogit/lib/ui/init.lua
Due: selene, stylua, lua-types

Remove current branch from checkout options
  lua/neogit/popups/branch/actions.lua
Due: selene, stylua, lua-types

Remove code_style CI step (redundant) and fix homebrew pin
  .github/workflows/lint.yml
Due: none

Fix missing types
  lua/neogit/lib/graph/kitty.lua
Due: selene, stylua, lua-types

Do not cancel stable run if nightly fails
  .github/workflows/test.yml
Due: none

chore: update gems
  .ruby-version
  Gemfile
  Gemfile.lock
  bin/specs
Due: none

chore: fix ruby.git deprecation warnings
  spec/buffers/commit_buffer_spec.rb
  spec/buffers/stash_list_buffer_spec.rb
  spec/buffers/status_buffer_spec.rb
  spec/popups/bisect_popup_spec.rb
  spec/popups/branch_config_popup_spec.rb
  spec/popups/branch_popup_spec.rb
  spec/popups/commit_popup_spec.rb
  spec/popups/merge_popup_spec.rb
  spec/popups/pull_popup_spec.rb
  spec/popups/push_popup_spec.rb
  spec/popups/rebase_popup_spec.rb
  spec/popups/remote_popup_spec.rb
  spec/popups/reset_popup_spec.rb
  spec/popups/stash_popup_spec.rb
  spec/popups/tag_popup_spec.rb
  spec/popups/worktree_popup_spec.rb
  spec/spec_helper.rb
  spec/support/context/git.rb
  spec/support/helpers.rb
Due: rubocop

chore: fix specs
  spec/buffers/log_buffer_spec.rb
  spec/buffers/stash_list_buffer_spec.rb
  spec/popups/bisect_popup_spec.rb
  spec/popups/branch_config_popup_spec.rb
  spec/popups/branch_popup_spec.rb
  spec/popups/cherry_pick_popup_spec.rb
  spec/popups/commit_popup_spec.rb
  spec/popups/diff_popup_spec.rb
  spec/popups/fetch_popup_spec.rb
  spec/popups/help_popup_spec.rb
  spec/popups/ignore_popup_spec.rb
  spec/popups/log_popup_spec.rb
  spec/popups/margin_popup_spec.rb
  spec/popups/merge_popup_spec.rb
  spec/popups/pull_popup_spec.rb
  spec/popups/push_popup_spec.rb
  spec/popups/rebase_popup_spec.rb
  spec/popups/remote_popup_spec.rb
  spec/popups/reset_popup_spec.rb
  spec/popups/revert_popup_spec.rb
  spec/popups/stash_popup_spec.rb
  spec/popups/tag_popup_spec.rb
  spec/popups/worktree_popup_spec.rb
  spec/spec_helper.rb
  spec/support/neovim_client.rb
  spec/support/shared.rb
Due: rubocop

Run rspec on CI with doc formatter
  .github/workflows/test.yml
Due: none

chore: rubocop
  .rubocop.yml
  bin/specs
  spec/buffers/status_buffer_spec.rb
  spec/popups/bisect_popup_spec.rb
  spec/popups/branch_config_popup_spec.rb
  spec/popups/branch_popup_spec.rb
  spec/popups/cherry_pick_popup_spec.rb
  spec/popups/commit_popup_spec.rb
  spec/popups/diff_popup_spec.rb
  spec/popups/fetch_popup_spec.rb
  spec/popups/help_popup_spec.rb
  spec/popups/ignore_popup_spec.rb
  spec/popups/log_popup_spec.rb
  spec/popups/margin_popup_spec.rb
  spec/popups/merge_popup_spec.rb
  spec/popups/pull_popup_spec.rb
  spec/popups/push_popup_spec.rb
  spec/popups/rebase_popup_spec.rb
  spec/popups/remote_popup_spec.rb
  spec/popups/reset_popup_spec.rb
  spec/popups/revert_popup_spec.rb
  spec/popups/stash_popup_spec.rb
  spec/popups/tag_popup_spec.rb
  spec/popups/worktree_popup_spec.rb
  spec/support/dependencies.rb
  spec/support/neovim_client.rb
  spec/support/shared.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  selene: any of: {lua,plugin}/**/*.lua
  stylua: any of: *.lua
  lua-types: any of: *.lua
