Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, selene, stylua, lua-types

lefthook.yml:

skip_output:
  - meta
pre-push:
  files: "rg --files"
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {files}
    selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {files}
    stylua:
      glob: "*.lua"
      run: stylua --check {files}
    typos:
      run: typos {files}
    lua-types:
      glob: "*.lua"
      run: llscheck lua/ || echo {files}
    lua-test:
      glob: "tests/specs/**/*_spec.lua"
      run: nvim --headless -S "./tests/init.lua" || echo {files}
      env:
        - CI: 1
        - GIT_CONFIG_GLOBAL: /dev/null
        - GIT_CONFIG_SYSTEM: /dev/null
        - NVIM_APPNAME: neogit-test
    rspec:
      only:
      - ref: master
      run: bin/specs {files}
pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop {staged_files}
    selene:
      glob: "{lua,plugin}/**/*.lua"
      run: selene --config selene/config.toml {staged_files}
    stylua:
      glob: "*.lua"
      run: stylua --check {staged_files}
    typos:
      run: typos {staged_files}
    lua-types:
      glob: "*.lua"
      run: llscheck lua/

Replace plenary.path with built-in path module
  lua/neogit/buffers/status/init.lua
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/files.lua
  lua/neogit/lib/git/hooks.lua
  lua/neogit/lib/git/index.lua
  lua/neogit/lib/git/repository.lua
  lua/neogit/lib/git/status.lua
  lua/neogit/lib/git/worktree.lua
  lua/neogit/lib/jump.lua
  lua/neogit/lib/path.lua
  lua/neogit/lib/state.lua
  lua/neogit/popups/ignore/actions.lua
  lua/neogit/popups/ignore/init.lua
Due: selene, stylua, lua-types

Use task style concurrency to allow canceling repository refreshes mid-flight.
  lua/neogit/lib/async.lua
  lua/neogit/lib/git/repository.lua
  lua/neogit/process.lua
  tests/specs/neogit/lib/async_spec.lua
Due: selene, stylua, lua-types

Replace plenary.async with built-in async module
  README.md
  lua/neogit.lua
  lua/neogit/autocmds.lua
  lua/neogit/buffers/commit_select_view/init.lua
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/fuzzy_finder.lua
  lua/neogit/buffers/log_view/init.lua
  lua/neogit/buffers/refs_view/init.lua
  lua/neogit/buffers/refs_view/ui.lua
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/buffers/status/ui.lua
  lua/neogit/client.lua
  lua/neogit/integrations/diffview.lua
  lua/neogit/lib/async.lua
  lua/neogit/lib/finder.lua
  lua/neogit/lib/git/diff.lua
  lua/neogit/lib/git/repository.lua
  lua/neogit/lib/input.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/popups/branch/actions.lua
  lua/neogit/popups/branch_config/actions.lua
  lua/neogit/popups/commit/actions.lua
  lua/neogit/popups/fetch/actions.lua
  lua/neogit/popups/log/actions.lua
  lua/neogit/popups/margin/actions.lua
  lua/neogit/popups/pull/actions.lua
  lua/neogit/popups/push/actions.lua
  lua/neogit/process.lua
  lua/neogit/watcher.lua
  tests/specs/neogit/lib/async_spec.lua
  tests/util/git_harness.lua
Due: selene, stylua, lua-types

Implement mechanism to queue actions
  lua/neogit/lib/popup/init.lua
Due: selene, stylua, lua-types

Fix: when head is detached, push popup wasn't working. Fix that.
  lua/neogit/lib/git/branch.lua
Due: selene, stylua, lua-types

fix(buffer): delete terminal buffer before recreating with non-terminal buftype
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

Be safer when deleting buffers for untracked files.
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/async.lua
Due: selene, stylua, lua-types

Fix lint warnings
  lua/neogit/lib/path.lua
  spec/buffers/status_buffer_spec.rb
  tests/specs/neogit/docs_spec.lua
Due: rubocop, selene, stylua, lua-types

Add stylua check to `make lint`
  Makefile
Due: none

Disable LFS for lefthook. Speedup.
  lefthook.yml
Due: none

Stylua
  lua/neogit/lib/async.lua
  lua/neogit/lib/path.lua
  tests/specs/neogit/diff_highlights_spec.lua
  tests/specs/neogit/lib/async_spec.lua
Due: selene, stylua, lua-types

Support retrying password authentication up to 3 times.
  lua/neogit/client.lua
  lua/neogit/lib/path.lua
  lua/neogit/process.lua
  lua/neogit/runner.lua
Due: selene, stylua, lua-types

Update type annotations for NeogitPath instead of Path from plenary
  lua/neogit/lib/git/repository.lua
  lua/neogit/lib/state.lua
  lua/neogit/popups/ignore/actions.lua
  lua/neogit/vendor/types.lua
Due: selene, stylua, lua-types

Chore: Update gha workflows to use checkout v6
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Add logging for when opening a buffer in a window fails.
  lua/neogit/lib/buffer.lua
Due: selene, stylua, lua-types

Move where in the buffer creation flow we actually show it in a window. By setting the filetype _before_ opening it, we can let users read that value in a BufWinEnter event.
  lua/neogit/lib/buffer.lua
  lua/neogit/lib/ui/init.lua
Due: selene, stylua, lua-types

Add a title to popups
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/lib/buffer.lua
  tests/specs/neogit/config_spec.lua
Due: selene, stylua, lua-types

Allow git.tag.list to take an optional "filter" string param, which is passed to the cli call.
  lua/neogit/lib/git/tag.lua
Due: selene, stylua, lua-types

Document type annotation for popup builder api.
  doc/neogit.txt
Due: none

Add missing value check in config validation for popup.show_title
  lua/neogit/config.lua
Due: selene, stylua, lua-types

Show margin for commits on status buffer by default. Can be toggled via margin popup (L).
  lua/neogit/buffers/status/ui.lua
Due: selene, stylua, lua-types

fix: use item.name instead of escaped_path in merge conflict check
  lua/neogit/buffers/status/actions.lua
Due: selene, stylua, lua-types

POC for hooks, starting with PreBranchCheckout
  README.md
  lua/neogit/config.lua
  lua/neogit/lib/hook.lua
  lua/neogit/popups/branch/actions.lua
Due: selene, stylua, lua-types

Add stream_hook_output config option (default off)
  lua/neogit/config.lua
  tests/specs/neogit/config_spec.lua
Due: selene, stylua, lua-types

Run checkout async when stream_hook_output enabled and post-checkout hook exists
  lua/neogit/lib/git/branch.lua
  tests/specs/neogit/lib/git/branch_checkout_await_spec.lua
Due: selene, stylua, lua-types

Force-show console for hooks when stream_hook_output enabled
  lua/neogit/process.lua
Due: selene, stylua, lua-types

Document stream_hook_output config option
  README.md
  doc/neogit.txt
Due: none

feat(git): add reflog-based undo/redo
  lua/neogit/lib/git.lua
  lua/neogit/lib/git/undo.lua
Due: selene, stylua, lua-types

feat(status): bind <m-u> and <m-r> to undo/redo
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/config.lua
Due: selene, stylua, lua-types

docs: document undo/redo keymaps
  doc/neogit.txt
Due: none

test(undo): cover reflog walking and guards
  tests/specs/neogit/lib/git/undo_spec.lua
Due: stylua, lua-types

feat(help): list undo/redo in the help popup
  lua/neogit/popups/help/actions.lua
Due: selene, stylua, lua-types

Include dots and underscores when combining highlighted diffs.
  lua/neogit/lib/diff_highlights.lua
Due: selene, stylua, lua-types

Checking out/tracking branches doesn't need to be awaited. Should address git hook output not being shown, since the call is no longer blocking.
  lua/neogit/lib/git/branch.lua
Due: selene, stylua, lua-types

Fix extraneous empty final line diff in diffview integration
  lua/neogit/integrations/diffview.lua
Due: selene, stylua, lua-types

add dlyongemallo/diffview-plus.nvim as alternative to sindrets/diffview.nvim
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  doc/neogit.txt
Due: none

fix: handle utf8 relative date abbreviations
  lua/neogit/buffers/reflog_view/ui.lua
  lua/neogit/buffers/status/ui.lua
  lua/neogit/lib/util.lua
  tests/specs/neogit/lib/util_spec.lua
Due: selene, stylua, lua-types

fix: handle utf8 relative date abbreviations (#1974)
  lua/neogit/buffers/reflog_view/ui.lua
  lua/neogit/buffers/status/ui.lua
  lua/neogit/lib/util.lua
  tests/specs/neogit/lib/util_spec.lua
Due: selene, stylua, lua-types

fix: discarding new directories
  lua/neogit/buffers/status/actions.lua
  spec/buffers/status_buffer_spec.rb
Due: rubocop, selene, stylua, lua-types
