Repository NeogitOrg/neogit: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, selene, stylua, lua-types

rubocop:
  run: bundle exec rubocop {staged_files}

selene:
  run: selene --config selene/config.toml {staged_files}

stylua:
  run: stylua --check {staged_files}

lua-types:
  run: llscheck lua/

fix interactive
  lua/neogit/popups/commit/actions.lua
Due: selene, stylua, lua-types

fix(push): use correct destination branch in push
  lua/neogit/popups/push/actions.lua
Due: selene, stylua, lua-types

Feat: Add jumpable commit view hunk navigation
  doc/neogit.txt
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/buffers/status/actions.lua
  lua/neogit/config.lua
  lua/neogit/lib/jump.lua
  tests/specs/neogit/lib/jump_spec.lua
Due: selene, stylua, lua-types

Add missing fields to Hunk declaration
  lua/neogit/lib/git/diff.lua
Due: selene, stylua, lua-types

Check if file is still conflicted before opening diffview. Item may have a conflict mode (UU, etc), but the markers were resolved, and it should therefor no longer be considered for resolution.
  lua/neogit/buffers/status/actions.lua
Due: selene, stylua, lua-types

fix: when on windows, use a proper \r\n line ending to correctly render status changes.
  lua/neogit/lib/git/index.lua
Due: selene, stylua, lua-types

Fix: jump to hunk location from status view not working
  lua/neogit/buffers/status/actions.lua
  lua/neogit/lib/jump.lua
Due: selene, stylua, lua-types

Improve patch handling for windows: correctly determine if a specific file is dos or unix formatted.
  lua/neogit/lib/git/index.lua
Due: selene, stylua, lua-types

lint
  lua/neogit/lib/git/index.lua
Due: selene, stylua, lua-types

Fix: fallback to OS check in newline character determination
  lua/neogit/lib/git/index.lua
Due: selene, stylua, lua-types

Feature: Implement Yank popup for commit view. Allows yanking different details from a commit.
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/log.lua
  lua/neogit/lib/git/tag.lua
  lua/neogit/popups/yank/actions.lua
  lua/neogit/popups/yank/init.lua
Due: selene, stylua, lua-types

Add specs/support for yank popup
  spec/buffers/commit_buffer_spec.rb
  spec/support/context/git.rb
Due: rubocop

Update docs
  doc/neogit.txt
Due: none

debug: add sleep for Ci
  spec/buffers/commit_buffer_spec.rb
Due: rubocop

"fix" spec
  spec/buffers/commit_buffer_spec.rb
  spec/popups/commit_popup_spec.rb
Due: rubocop

Update readme
  README.md
Due: none

improve: Add config option to change <cr> over hunks on commit_view
  doc/neogit.txt
  lua/neogit/buffers/commit_view/init.lua
  lua/neogit/config.lua
Due: selene, stylua, lua-types

docs(config): add missing file mode "T" option in README and doc
  README.md
  doc/neogit.txt
Due: none

Fix: https://github.com/NeogitOrg/neogit/issues/1844
  lua/neogit/buffers/editor/init.lua
  lua/neogit/lib/git/log.lua
Due: selene, stylua, lua-types

Improve types
  lua/neogit/lib/util.lua
  lua/neogit/popups/pull/actions.lua
Due: selene, stylua, lua-types

docs: add missing comma in README.md configuration table
  README.md
Due: none

feat: Basic submodule support
  README.md
  doc/neogit.txt
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/config.lua
  lua/neogit/lib/git.lua
  lua/neogit/lib/git/cli.lua
  lua/neogit/lib/git/rev_parse.lua
  lua/neogit/lib/git/submodule.lua
  spec/buffers/status_buffer_spec.rb
Due: rubocop, selene, stylua, lua-types

feat(config): Allow reordering file sections in status buffer
  lua/neogit/config.lua
Due: selene, stylua, lua-types

refactor(status): Allow configuring order of file sections
  lua/neogit/buffers/status/ui.lua
Due: selene, stylua, lua-types

docs: Add section_order config option to neogit.txt
  doc/neogit.txt
Due: none

refactor(status): Render file sections in configured order
  lua/neogit/buffers/status/ui.lua
Due: selene, stylua, lua-types

Fix: autosquash command (`r f`) bug is fixed.
  lua/neogit/popups/rebase/actions.lua
Due: selene, stylua, lua-types

feat: allow to customize initial name on branch rename
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/popups/branch/actions.lua
  tests/specs/neogit/config_spec.lua
Due: selene, stylua, lua-types

feat: add prompt_amend_commit option
  README.md
  doc/neogit.txt
  lua/neogit/config.lua
  lua/neogit/popups/commit/actions.lua
Due: selene, stylua, lua-types

wip: improve status update module latency and add fidget.nvim integration
  lua/neogit/buffers/status/actions.lua
  lua/neogit/buffers/status/init.lua
  lua/neogit/buffers/status/ui.lua
  lua/neogit/integrations/fidget.lua
  lua/neogit/lib/git/bisect.lua
  lua/neogit/lib/git/diff.lua
  lua/neogit/lib/git/repository.lua
  lua/neogit/lib/git/status.lua
  lua/neogit/lib/operation.lua
  lua/neogit/lib/popup/init.lua
  lua/neogit/lib/ui/init.lua
  lua/neogit/popups/bisect/actions.lua
  lua/neogit/popups/branch/actions.lua
  lua/neogit/popups/fetch/actions.lua
  lua/neogit/popups/pull/actions.lua
  lua/neogit/popups/push/actions.lua
  lua/neogit/popups/rebase/actions.lua
  lua/neogit/popups/tag/actions.lua
  lua/neogit/popups/worktree/actions.lua
  lua/neogit/watcher.lua
Due: selene, stylua, lua-types

perf: optimize push/pull modules with caching and fast-paths
  .plans/fidget-operation-progress.md
  .plans/optimize-push-pull-performance.implementation.md
  .plans/optimize-push-pull-performance.md
  .plans/status-buffer-bugfixes.md
  lua/neogit/lib/git/log_cache.lua
  lua/neogit/lib/git/pull.lua
  lua/neogit/lib/git/push.lua
  lua/neogit/lib/git/repository.lua
Due: selene, stylua, lua-types

Path conditions:
  rubocop: any of: *.rb
  selene: any of: {lua,plugin}/**/*.lua
  stylua: any of: *.lua
  lua-types: any of: *.lua
